<div class="np-pl-constellation" aria-hidden="true">
    <span class="np-pl-constellation__ring"></span>
    <span class="np-pl-constellation__glyph np-pl-constellation__glyph--sum">∑</span>
    <span class="np-pl-constellation__glyph np-pl-constellation__glyph--int">∫</span>
    <span class="np-pl-constellation__glyph np-pl-constellation__glyph--pi">π</span>
    <span class="np-pl-constellation__glyph np-pl-constellation__glyph--delta">Δ</span>
    <span class="np-pl-constellation__glyph np-pl-constellation__glyph--inf">∞</span>
    <span class="np-pl-constellation__orbit"></span>
</div>
